body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    padding: 20px;
}
.app-title {
    display: inline-block;
    vertical-align: middle;
}
.app-logo {
    vertical-align: middle;
}
